li{
    line-height: 4;
}

.left-side img{
    width: 80%;
}

.right-side{
    background-color:#f4f4f2;
}

.right-side ul{
 margin-left: 2%;
}

.right-side button{
    font-weight: 700;
    font-size: 1.5rem;
    padding: 1% ;
}


footer {
    background-color: #343a40 ;
    }
  