.navbar-brand {
    float: none;
    text-align: center;
  }
  
  .cat-iphone:hover {
    background-color: black;
    color: white !important;
  }
  
  .cat-samsung:hover {
    background-color: blue;
    color: white !important;
  }
  
  footer {
    background-color: grey;
  }
  